:root {
  --primary-text-color: #757575;
  --secondary-color: #212121;
  --hower-color: #2196f3;
  --logo-color: #000000;
  --primary-bg-color: #ffffff;
  --bg-color: #2f303a;
  --button-color: #f5f4fa;
  --border-color:#ECECEC;
  --border-pict-color:#EEEEEE;
  --border-shadow-color:#00000040;
  --icon-color:#afb1b8;
  --fond-text:14px;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --font-weight-main: 500;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

a,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  font-size: var(--fond-text);
  letter-spacing: 0.03em;
  background-color: var(--primary-bg-color);
}

.conteiner {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section--hide {
  padding-top: 0;
}

@media screen and (max-width: 1200px) {
  .section--hide {
    display: none;
  }
}

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  position: relative;
  border-bottom: 1px solid var(--border-color);
}

.header-container {
  padding-top: 16px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  display: block;
  font-family: 'Raleway', sans-serif;
  color: var(--logo-color);
  font-size: 24px;
  line-height: 1.16;
  font-weight: 700;
  -webkit-transition: text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover, .logo:focus {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
    padding: 25px 0 24px 0;
  }
}

.logo--color {
  color: var(--hower-color);
}

.menu-container {
  display: none;
}

.menu-container.is-open {
  display: block;
}

.navigation__link {
  color: var(--secondary-color);
  font-weight: var(--font-weight-main);
  font-size: 40px;
  line-height: 1.15;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover, .navigation__link:focus, .navigation__link:active {
  color: var(--hower-color);
}

.navigation--active {
  color: var(--hower-color);
}

.menu-button {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  fill: var(--logo-color);
  margin-right: auto;
}

.menu-button:hover {
  fill: var(--hower-color);
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
  width: 450px;
  height: 609px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.button--close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  fill: var(--logo-color);
}

.button--close:hover, .button--close:focus {
  fill: var(--hower-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.call-back {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  color: var(--secondary-color);
  text-align: center;
}

.modal-form {
  width: 370px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
}

.modal-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}

.modal-field input {
  margin: 0;
  padding: 11px 11px 11px 42px;
  border: 1px solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-field input:focus {
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-color: var(--hower-color);
  outline: 0;
}

.modal-field label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.1;
}

.modal__icon {
  position: absolute;
  left: 12px;
  top: 60%;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 3px;
  fill: var(--secondary-color);
}

.modal-field input:focus ~ .modal__icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--hower-color);
}

.modal-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.modal-comment label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.1;
}

.modal-comment textarea {
  margin: 0;
  padding: 12px 16px;
  border: 1px solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  max-height: 120px;
  resize: none;
  border: 1px solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-comment textarea:focus {
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-color: var(--hower-color);
  outline: 0;
}

.modal-comment textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.1;
  color: rgba(117, 117, 117, 0.5);
}

.modal-comment textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.1;
  color: rgba(117, 117, 117, 0.5);
}

.modal-comment textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.1;
  color: rgba(117, 117, 117, 0.5);
}

.modal-comment textarea::placeholder {
  font-size: 12px;
  line-height: 1.1;
  color: rgba(117, 117, 117, 0.5);
}

.modal-policy {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-policy label {
  display: inline-block;
  line-height: 1.7;
  color: var(--primary-text-color);
}

.modal-policy a {
  color: var(--hower-color);
  text-decoration: underline;
}

.checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.checkbox:checked + .icon-check {
  border: 1.5px solid var(--hower-color);
  background-image: url(../images/icon-check.svg);
  background-color: var(--hower-color);
  background-origin: border-box;
}

.icon-check {
  margin-right: 9px;
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 1.5px solid var(--logo-color);
  border-radius: 4px;
}

.button--send {
  color: var(--primary-bg-color);
  background-color: var(--hower-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 10px 55px;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}
/*# sourceMappingURL=main.css.map */