.benefits__list {
    display: flex;
}

.benefits__icon {
    height: 70px;
    width: 70px;
}

.benefits__item {
    justify-content: center;
    display: flex;
    height: 120px;
    width: 270px;
    align-items: center;
    margin-right: 30px;

    border-radius: 4px;
    background-color: var(--button-color);
}


.benefits-text-cont {
    margin-right: 30px;
    margin-top: 30px;
}

.benefits__title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;

    color: var(--secondary-color);
    margin-top: 30px;
}

.benefits__text {
    font-weight: 400;
    line-height: 1.71;
    margin-top: 10px;
    margin-right: 30px;
}