

.benefits {}

.hide {}

.benefits__list {

    & li:not(:last-child){
        margin-bottom: 30px;
        @media screen and (min-width:767px) {
            margin-bottom: 0;
        }
    }
    @media screen and (min-width:767px) {
        display: flex;
            flex-wrap: wrap;
            margin-top: -30px;
            margin-left: -30px;
            
            & li{
                flex-basis: calc(100% / 2 - 30px);
                margin-left: 30px;
                margin-top: 30px;
                
            }
        }
    @media screen and (min-width:$desktop) {
        flex-wrap: unset;
    }
}


.benefits__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    max-width: 450px;
    height: 120px;
    background: var(--button-color);
    border-radius: 4px;

}


.benefits__icon {}

.benefits__title {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-color);
    text-align: center;
    @media screen and (min-width:$desktop) {
            text-align: unset;
        }
}

.benefits__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.section--hide {}

.team {}

.team__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;

    color: var(--secondary-color);

    margin-bottom: 50px;
}
.team__list {

}

.team__item {}

.team-picture {
    position: relative;}

.picture {}

.team-picture__text {
    font-weight: 700;
    line-height: 1;
    position: absolute;
    display: flex;
    width: 370px;
    height: 70px;

    justify-content: center;
    align-items: center;
    align-content: center;

    color: var(--primary-bg-color);
    bottom: 0;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);

}