.footer-bg {
    background-color: var(--bg-color);
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 767px) {
        padding-top: 0;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    @media screen and (min-width: 767px) and (max-width: $desktop) {
        flex-direction: unset;
        align-items: baseline;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    @media screen and (min-width: $desktop) {
        padding-top: 60px;
        padding-bottom: 60px;
        flex-direction: unset;
    }
}
.info {
    text-align: center;
    @media screen and (max-width: $desktop) {
        text-align: none;
    }
}

.logo__footer {
    color: var(--primary-bg-color);
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    line-height: 1.19;
    font-weight: 400;
    @media screen and (min-width: 767px) {
        display: flex;
        justify-content: center;
    }
    @media screen and (min-width: $desktop) {
        justify-content: left;
    }
}

.address {
    margin-top: 20px;
    @media screen and (min-width: 767px) {
        margin-top: 20px;
    }
}

.address__list {
    @media screen and (min-width: 767px) {
        text-align: center;
    }
    @media screen and (min-width: $desktop) {
        text-align: left;
    }
}

.address__link {
    font-style: normal;
    text-decoration: none;
    color: var(--primary-bg-color);
    margin: 0;
    padding: 0;
}

.address__item {
    margin-top: 9px;
}

.address__link--contacts {
    font-style: normal;
    color: var(--footer-link-color);
}

.join {
    margin-top: 60px;
    @media screen and (min-width: $desktop) {
        & {
            margin-top: 0;
            margin-left: 70px;
        }
    }
}

.join__title {
    font-size: 14px;
    line-height: 1.19;
    font-weight: 700;
    text-transform: uppercase;

    color: var(--primary-bg-color);
    text-align: center;

    @media screen and (min-width: $desktop) {
        text-align: start;
    }
}

.social--footer {
    margin-top: 20px;
}

.join__link {
    display: inline-block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: var(--border-color);

    background: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        fill: var(--border-pict-color);
        background-color: var(--hower-color);
    }
}

.join__icon {
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    margin: 12px;
}

.subscribe-box {
    margin-top: 60px;
    width: 100%;
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    input {
        padding: 15px;
        width: 100%;
        margin-top: 20px;
        background-color: var(--bg-color);
        border: 1px solid;
        border-color: rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        color: var(--border-pict-color);

        &:focus {
            outline: 0;
        }
    }
    @media screen and (min-width: 767px) and (max-width: $desktop) {
        & input {
            width: 450px;
        }
    }
    @media screen and (min-width: $desktop) {
        & {
            width: auto;
            margin-top: 0;
            margin-left: auto;
        }
        & form {
            flex-direction: unset;
        }
        & input {
            width: 358px;
        }
    }
}

.button--subscribe {
    color: var(--primary-bg-color);
    background-color: var(--hower-color);
    display: flex;
    align-items: center;
    border-radius: 4px;
    border: 0;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    cursor: pointer;
    height: 50px;
    margin-top: 20px;
    max-width: 200px;

    padding: 0 28px;

    svg {
        margin-left: 10px;
    }
    @media screen and (min-width: $desktop) {
        margin-left: 12px;
    }
}
