.page-header {
    position: relative;

    @media (min-width:$tablet) {
        border-bottom: 1px solid var(--border-color);
        


    }
    
}
.header-container{
    padding-top: 16px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
        @media (min-width:$tablet) {
            padding-bottom: 0 ;
                align-items: baseline;
            }
}

.logo {
    font-family: 'Raleway', sans-serif;
    color: var(--logo-color);
    font-size: 24px;
    line-height: 1.16;
    font-weight: 700;
    
    transition: text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
        0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    @media (min-width:$tablet) {
    
    }
    @media screen and (min-width:$desktop) {
        font-size: 26px;
        line-height: 1.19;
        padding: 25px 0 24px 0;
        
    }
    &--color{
        color: var(--hower-color);
    }
}
.menu-button {
    position: absolute;

    top:20%;
    right: 5%;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    fill: var(--logo-color);

    margin-right: auto;
    
    &:hover {
        fill: var(--hower-color);
    
    }
    @media (min-width:$tablet) {
        display: none;
    }
}
.menu-button .icon-close {
    display: none;
}

.menu-button.is-open .icon-close {
    display: block;
    fill: var(--logo-color);
    &:hover {
        fill: var(--hower-color);
    }
}

.menu-button.is-open .icon-menu {
    display: none;
}
.menu-container{
    display: none;
    position: relative;
    background-color: var(--primary-bg-color);
    position: fixed;
    
        left: 0;
        top: 0;
        width: 88vw;
        height: 100vh;

    &.is-open{
        display: block;
        padding: 48px 0 48px 40px;
    }
    @media (min-width:$tablet) {
        &.is-open{
            padding: 0;
        }
        display: flex;
        position: static;
        width: auto;
        height: auto;
        
    }
}

.navigation__list {
    margin-bottom: 302px;
    @media (min-width:$tablet) {
        margin-bottom: 0;
        display: flex;
        align-items: center;
        
        }
}
@media (min-width:$tablet) {
    .navigation__item {
    
        &:not(:last-child){
        margin-right: 50px;
            }
        }
    }


.navigation__link {
    color: var(--secondary-color);
    font-weight: var(--font-weight-main);

    font-size: 40px;
    line-height: 1.15;
    
    display: block;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus,
    &:active{
        color: var(--hower-color);
    }
    @media (min-width:$tablet) {
        font-size: 14px;
        padding-bottom: 0;
        
    }
}

.navigation--active {
    color: var(--hower-color);
    position: relative;
    @media (min-width:$tablet) {
        &::after {
                content: "";
                position: absolute;
                bottom: -26px;
                left: 0;
                width: 100%;
                border: 2px solid var(--hower-color);
                border-radius: 2px;
                background-color: var(--hower-color);
            }
    }
    
}

.contacts__list {
    display: flex;
    flex-direction: column-reverse;

        @media (min-width:$tablet) {
            margin-left:84px;
            padding-bottom: 21px;
            flex-direction: column;
            display: block;
            & li:first-child{
                margin-bottom: 10px;
            }
        }
}

.navigation__email {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.1;
    color: var(--primary-text-color);
    

    @media screen and (max-width:767px){
        display: block;
        font-size: 24px;
        font-weight: 500;
        line-height: 1.1;

        color: var(--primary-text-color);
        margin-bottom: 62px;
    }
}

.navigation__icon {
    margin-right: 8px;
    height: 10;
    width: 14;
    fill:var(--primary-text-color) ;
    @media screen and (max-width:767px) {
            display: none;
        }
}

.navigation__tel {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.1;
    color: var(--primary-text-color);


    @media screen and (max-width:767px){
        display: block;
        font-size: 34px;
        font-weight: 500;
        line-height: 1.17;
        color: var(--hower-color);
        margin-bottom: 32px;
    }
}

.social-list-header{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    & li{
        padding-bottom: 10px;
    }
    & li:not(:last-child) {
        margin-right: 20px;
    }
            @media (min-width:$tablet) {
            display: none;
        }
}
.social-header{
    display: block;
    font-size: 18px;
        font-weight: 500;
        line-height: 1.16;
        color: var(--hower-color);
        border-right: 1px solid rgba(33, 33, 33, 0.2);
        padding-right: 10px;
    &.last{
        border-right: 0;
    }
        @media (min-width:$tablet) {
        display: none;
    }
}