.our-clients__list{
    display: -webkit-box;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;

}

.our-clients__link {

    flex-basis: calc(100% / 2 - 30px );
    margin-left: 30px;
    margin-top: 30px;
    

    border: 1px solid var(--icon-color);
    border-radius: 4px;

    transition:
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1) border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover {
            border: 1px solid var(--hower-color);
            fill: var(--hower-color);
            cursor: pointer;
        }
}

.our-clients__icon {
    fill: var(--icon-color);
    width: 210px;
        height: 92px;
}