.our-team {
    background: var(--button-color);
}

.team__title {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.17;
    text-align: center;

    color: var(--secondary-color);

    margin-bottom: 60px;
    @media screen and (min-width: $desktop) {
        margin-bottom: 50px;
        font-size: 36px;
    }
}

.team__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 767px) {
        flex-direction: unset;
        flex-wrap: wrap;
        margin-top: -30px;
        margin-left: -30px;
    }
    @media screen and (min-width: $desktop) {
        flex-wrap: unset;
    }
}

.team__item img {
    @media screen and (max-width: $tablet) {
        width: 450px;
        height: 460px;
    }
    @media screen and (max-width: $desktop) {
        width: 100%;
        height: 100%;
    }
}
.team__item {
    &:not(:last-child) {
        margin-bottom: 30px;
    }
    @media screen and (min-width: 767px) {
        flex-basis: calc(100% / 2 - 30px);
        margin-left: 30px;
        margin-top: 30px;
        &:not(:last-child) {
            margin-bottom: 0;
        }
    }
    @media screen and (min-width: $desktop) {
        &:not(:last-child) {
            margin-bottom: 0;
        }
    }
}

.our-team__box {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--primary-bg-color);
    padding-top: 30px;
    padding-bottom: 24px;
}

.our-team__subtitle {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    text-align: center;

    color: var(--secondary-color);
    margin-bottom: 10px;
}

.our-team__text {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;

    color: var(--primary-text-color);
    margin-bottom: 16px;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;

    & li:not(:last-child) {
        margin-right: 10px;
    }
    @media screen and (min-width: $desktop) {
        margin-right: 0;
    }
}

.social__link {
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    fill: var(--icon-color);

    @media screen and (min-width: $desktop) {
        width: 44px;
        height: 44px;

        cursor: pointer;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            fill: var(--primary-bg-color);
            background-color: var(--hower-color);
            border-radius: 50%;
        }
    }
}

.social__icon {
    @media screen and (min-width: $desktop) {
        margin: 0;
        padding: 0;
        width: 20px;
        height: 20px;
        margin: 12px;
    }
}
