h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
    list-style: none;
}

a,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    font-size: var(--fond-text);
    letter-spacing: 0.03em;
    background-color: var(--primary-bg-color);
}