.conteiner {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    @media screen and (min-width:$modile) {
        width: $modile;
    }
    @media screen and (min-width:$tablet) {
        width: $tablet;
    }
    @media screen and (min-width:$deskpot) {
        width: $deskpot;
    }
}
.section{
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width:$deskpot){
        padding-top: 94px;
        padding-bottom: 94px;
    }
}
.section--hide {
    padding-top: 0;

@media screen and(max-width: $deskpot) {
    display: none;
    
}
}