:root {
    --primary-text-color: #757575;
    --secondary-color: #212121;
    --hower-color: #2196f3;
    --logo-color: #000000;
    --primary-bg-color: #ffffff;
    --bg-color: #2f303a;
    --button-color: #f5f4fa;
    --border-color:#ECECEC;
    --border-pict-color:#EEEEEE;
    --border-shadow-color:#00000040;
    --icon-color:#afb1b8;
    --fond-text:14px;
    --footer-link-color: rgba(255, 255, 255, 0.6);
    --font-weight-main: 500;
}